<div class = "container">
  <div class = "row">
    
    <div class ="col-md-4"><%= render '/books/user_info', user: @user, book: @book %></div>
    
    <div class = "col-md-7 offset-md-1">
      <h3 class ="book_detail">Users</h3>
      <table>
        <tr class ="book_detail">
          <th class = "book_padding">image</th> <th class = "book_padding">name</th> <th class = "book_padding"></th>
        </tr>
        
        <% @users.each do |user| %>
        <tr>
          <td class = "book_padding"><%= image_tag @user.get_profile_image(100,100) %></td>
          <td class = "book_padding"><%= user.name %></td> <td class = "book_padding"><%= link_to "Show", user_path(user.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
      
  </div>
</div>