<h1>Books</h1>
<table>
  <tr>
    <th>Title</th> <th>Opinion</th>
  </tr>
  <%= @books.each do |books| %>
  <tr>
    <span></span>
    <span><%= @books.title %></span>
    <span><%= @books.introduction %></span>
  </tr>
  <% end %>
</table>