<div>
  <h1>Users info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table>
    <tr>
      <th>name</th> <td><%= @user.name %></td>
    </tr>
    <tr>
      <th colspan = "2">introduction</th>
    </tr>
    <tr>
      <td colspan = "2"><%= @user.introduction %></td>
    </tr>
  </table>
</div>
