<%= render 'user_info', user: @user %>

<div>
  <h1>Books</h1>

  <div>
    <% @books.each do |book| %>
    <span>
    <div><%= image_tag @user.get_profile_image(100,100) %></div>
    </span>
    <span><%= book.title %></span>
    <span><%= book.body %></span>
    
    <% end %>
  </div>
</div>
