* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_space8{
  margin-top: 8px;
}

.bottom_space10{
  margin-bottom: 10px;
}

.left_padding{
  padding-left: 7px;
}

.book_padding{
  padding:12px;
}

.user_edit_box{
  border: solid 1px;
  border-radius: 7px;
  margin-top: 20px;
  height: 38px;
  text-align: center;
  width: 100%;
  padding: 5px 0;
}

.book_detail{
  border-bottom: 1px solid;
}

.center_margin{
  display: inline-block;
  justify-content: center;
}

main{
  width: 100%;
}

.flex{
  display: flex;
}

.username-box{
  border-bottom: 1px;
  border-top: 1px;
}

.comment_index{
  margin-top: 15px;
}

.book_comment{
  padding: 0 8px;
}

.user_edit_bottom{
  display: inline-block; 
}

.book_root{
  color: white;
}